.App {
  display: flex;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
 margin-top: 50px;
}


.form{
display: flex;
flex-direction: column;
width: 100%;
}

input{
  background-color: azure;
  border-radius: 40px;
  padding: 0 10px;
}

button {
  background-color: rgb(53, 105, 105);
  width: 50%;
  align-self: center;
  border-radius: 40px;
  margin-top: 30px;
}